# backup destiation - mandatory
DESTINATION="/backup"

# backup rotation in days - optional
RETENTION="7"

# log dir - stdout if unset
LOGDIR="/backup/logs"

# host id - hostname is used instead if it is unset
IDHOST="ABC1234"

# if set, enables compression
COMPRESS="1"

# masterdata - if not set, is set to 1
MASTERDATA="2"

# dump one db at a time if set - optional
FILE_PER_DB="1"

# extra options for mysqldump
MYSQLDUMP_EXTRAOPTS=""

# exclude databases (EXCLUDE must be an ARRAY -> Example: EXCLUDE=(foo bar) )
EXCLUDE=()
