# backup destiation - mandatory
DESTINATION="/backup"

# backup ID - backup type identifier, if unset defaults to "MySQL"
BACKUP_NAME_ID=MySQL

# log dir - stdout if unset
LOGDIR="/backup/logs"

# if set, enables compression
COMPRESS="1"

# masterdata - if not set, default is 1
MASTERDATA="2"

# dump one db at a time if set - optional
FILE_PER_DB="1"
